body {
    position: relative;
    overflow: hidden;
}

.sidebar {
    width: 200px;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.main {
    position: absolute;
    top: 0;
    left: 201px;
}

.header {
    width: calc(100vw - 200px);
    height: 100px;
    padding: 10px;
    border: 1px dashed black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: calc(100vw - 200px);
    height: 80vh;
    border: 1px dotted gray;
}
.header-test{
    font-size: larger;
    font-family: "Droid Sans Mono", serif;
}
.red-text{
    color: red;
}
.green-text{
    color: green;
}
.img{
    height: 300px;
    width: 100%;
}
.width100{
    width: 100%;
}
.link{
    font-family: "Arial Black", serif;
    text-decoration: none;
}
